@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This software was developed in a stereotypical garage in which all cool companies started. Also, my father's car workshop was established at this very place. It may soon be able to feed our family of five.</p>