@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-controller="Todo" asp-action="Add">Add new student</a>
    <br \><br \>
    <a asp-controller="Todo" asp-action="TodoItems">Todo item list</a>
    <br \><br \>
    <a asp-controller="Todo" asp-action="CompletedTodoItems">Completed items</a>
</div>